#my-app {
  font-family: Menlo, sans-serif;
  background-color: black;
  color: gray;
  width: 100vw;
  height: 100vh;
  padding: 25px;
}

#main-title {
  color: whitesmoke;
}

#user-info {
  padding-top: 10px;
}

#temp-input {
  margin-left: 5px;
  padding-left: 5px;
  font-size: 14px;
  height: 25px;
}

#button-area {
  padding: 5px 30px 10px 30px;
}

.btn {
  margin: 0px 1px;
}

#lightning-icon {
  margin-top: 5px;
}